---
layout: landing
---

{% if page.article_header or page.header %}
  {% include page__header.html %}
{% endif %}

<main class="page__main js-page-main page__main--immersive page__viewport full-width cell cell--auto" role="main">
  <article class="article container">
    <header class="article__header">
      <h1>{{ page.title }}</h1>
      {% if page.date %}
        <p class="article__meta"><i class="far fa-calendar-alt"></i> {{ page.date | date: "%B %d, %Y" }}</p>
      {% endif %}
    </header>

    <div class="article__body">
      {{ content }}
    </div>
  </article>
</main>
