---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script src="/scripts/utils/utils.js"></script>
    <script src="/scripts/lib/throttle.js"></script>
    <script src="/scripts/lib/lazyload.js"></script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/scroll.js"></script>
  </body>
</html>
