---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
        document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener("click", function (e) {
            const targetID = this.getAttribute("href");

            // Stop standaard gedrag
            e.preventDefault();

            const targetElement = document.querySelector(targetID);
            if (targetElement) {
              // Soepel scrollen
              targetElement.scrollIntoView({
                behavior: "smooth"
              });

              // Optioneel: Verberg de hash in de URL
              history.replaceState(null, null, ' ');
            }
          });
        });
      });
    </script>
  </body>
</html>